<!-- ===============================================-->
<!--    부분중량과 무게중심    -->
<!-- ===============================================-->
<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0">부분중량과 무게중심</h5>
    </div>
    <div class="card-body bg-light">

        <div class="row gx-2">
                                      <div class="card mb-3">
                                <div class="card-header">
                                    <h5 class="mb-0">Ticket Price</h5>
                                </div>
                                <div class="card-body bg-light">
                                    <button class="btn btn-falcon-default btn-sm" type="button">Free<span class="d-none d-sm-inline"> Ticket</span></button>
                                    <button class="btn btn-falcon-primary btn-sm ms-2" type="button">Paid<span class="d-none d-sm-inline"> Ticket</span></button>
                                    <button class="btn btn-falcon-default btn-sm ms-2" type="button">Donation</button>
                                    <hr />

                                    <table class="table table-bordered mt-2 bg-white dark__bg-1100">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width: 20%">Component</th>
                                                <th scope="col">Weight(X)</th>
                                                <th scope="col">COG(X)</th>
                                                <th scope="col">COG(Y)</th>
                                                <th scope="col">COG(Z)</th>
                                                <th scope="col" style="width: 20%"ss>Remark</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="col-1 text-5">Upper Structure</td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="kg" value="" disabled /></td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="㎜" value="" /></td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="㎜" value="" /></td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="㎜" value="" /></td>
                                                <td>Operator: 65kg</td>
                                            </tr>
                                            <tr>
                                                <td>CounterWeight</td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="kg" value="" /></td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="㎜" value="" /></td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="㎜" value="" /></td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="㎜" value="" /></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Lower Structure</td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="kg" value="" /></td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="㎜" value="" /></td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="㎜" value="" /></td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="㎜" value="" /></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Attachment</td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="kg" value="" /></td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="㎜" value="" /></td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="㎜" value="" /></td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="㎜" value="" /></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Total</td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="kg" value="" disabled /></td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="㎜" value="" /></td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="㎜" value="" /></td>
                                                <td><input class="form-control form-control-sm" type="Number" placeholder="㎜" value="" /></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

        </div>


    </div>
</div>