<!-- ===============================================-->
<!--    외관 제원    -->
<!-- ===============================================-->
<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0">외관 제원 (Wheel)</h5>
    </div>

    <div class="card-body bg-light">
        <div class="row gx-2">


            <div class="input-group mb-3">
                <span class="input-group-text">길이</span>
                <input class="form-control" id="overall_length" name="overall_length" type="number"
                    value="<% if (editing){ %><%= product.overall_length %><% } %>" placeholder="길이(㎜)" />
                <span class="input-group-text">너비</span>
                <input class="form-control" id="overall_width" name="overall_width" type="number"
                    value="<% if (editing){ %><%= product.overall_width %><% } %>" placeholder="너비(㎜)" /> </td>
                <span class="input-group-text">높이</span>
                <input class="form-control" id="overall_height" name="overall_height" type="number"
                    value="<% if (editing){ %><%= product.overall_height %><% } %>" placeholder="높이(㎜)" />
            </div>










        </div>
    </div>
</div>