<!-- ===============================================-->
<!--    Nav Bars-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container" data-layout="container">
        <script>
            var isFluid = JSON.parse(localStorage.getItem('isFluid'));
            if (isFluid) {
                var container = document.querySelector('[data-layout]');
                container.classList.remove('container');
                container.classList.add('container-fluid');
            }
        </script>
        <nav class="navbar navbar-dark navbar-vertical navbar-expand-xl">
            <script>
                var navbarStyle = localStorage.getItem("navbarStyle");
                if (navbarStyle && navbarStyle !== 'transparent') {
                    document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
                }
            </script>
            <div class="d-flex align-items-center">
                <div class="toggle-icon-wrapper">

                    <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip"
                        data-bs-placement="left" title="" data-bs-original-title="Toggle Navigation"
                        aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span
                                class="toggle-line"></span></span></button>

                </div>
                <a class="navbar-brand" href="index.html">

                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
                <div class="navbar-vertical-content scrollbar">
                    <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
                        <li class="nav-item">
                            <!-- parent pages-->
                            <a class="nav-link dropdown-indicator" href="#dashboard" role="button"
                                data-bs-toggle="collapse" aria-expanded="true" aria-controls="dashboard">
                                <div class="d-flex align-items-center"><span class="nav-link-icon">
                                        <!-- <span class="fas fa-chart-pie"></span> Font Awesome fontawesome.com -->
                                    </span><span class="nav-link-text ps-1">Crawler Excavators</span>
                                </div>
                            </a>
                            <ul class="nav collapse show" id="dashboard">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/" aria-expanded="false">
                                        <div class="d-flex align-items-center"><span class="nav-link-text ps-1">&nbsp
                                                HEX Model Specs</span>
                                        </div>
                                    </a>
                                    <!-- more inner pages-->
                                </li>



                            </ul>
                        </li>
                        <li class="nav-item">
                            <!-- parent pages-->
                            <a class="nav-link dropdown-indicator" href="#dashboard" role="button"
                                data-bs-toggle="collapse" aria-expanded="true" aria-controls="dashboard">
                                <div class="d-flex align-items-center"><span class="nav-link-icon">
                                        <!-- <span class="fas fa-chart-pie"></span> Font Awesome fontawesome.com -->
                                    </span><span class="nav-link-text ps-1">Wheel Excavators</span>
                                </div>
                            </a>
                            <ul class="nav collapse show" id="dashboard">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/index_WEX" aria-expanded="false">
                                        <div class="d-flex align-items-center"><span class="nav-link-text ps-1">&nbsp
                                                WEX Model Specs</span>
                                        </div>
                                    </a>
                                    <!-- more inner pages-->
                                </li>



                            </ul>
                        </li>
                        <li class="nav-item">
                            <!-- parent pages-->
                            <a class="nav-link dropdown-indicator" href="#" role="button"
                                data-bs-toggle="collapse" aria-expanded="true" aria-controls="dashboard">
                                <div class="d-flex align-items-center"><span class="nav-link-icon">
                                        <!-- <span class="fas fa-chart-pie"></span> Font Awesome fontawesome.com -->
                                    </span><span class="nav-link-text ps-1">Common Pages</span>
                                </div>
                            </a>
                                                       <ul class="nav collapse show" id="dashboard">

                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/pages" aria-expanded="false">
                                        <div class="d-flex align-items-center"><span class="nav-link-text ps-1">&nbsp
                                                Common Pages</span>
                                        </div>
                                    </a>
                                    <!-- more inner pages-->
                                </li>


                            </ul>
                        </li>



                    </ul>

                </div>
            </div>
        </nav>
        <div class="content">
            <nav class="navbar navbar-dark navbar-glass navbar-top navbar-expand">

                <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse"
                    aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span
                        class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
                <a class="navbar-brand me-1 me-sm-3" href="index.html">
                    <div class="d-flex align-items-center"><img class="me-2"
                            src="../../assets/img/icons/spot-illustrations/falcon.png" alt="" width="40"><span
                            class="font-sans-serif"></span>
                    </div>
                </a>
                <ul class="navbar-nav align-items-center d-none d-lg-block">
                    <li class="nav-item">

                    </li>
                </ul>

            </nav>
            <!-- end of navbars -->