<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>형식승인/신고 양식</title>
    <link rel="stylesheet" href="pages.css" />
    <style></style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [
                    ["$", "$"],
                    ["\\(", "\\)"],
                ],
            },
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>

<body>
    <div class="pages" id="Operating Weight">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">자체중량 및 총중량</td>
            </tr>
            <tr>
                <td>
                    <table class="innertable" height="90%" width="90%">
                        <thead>
                            <tr>
                                <th colspan="5" height="350px">
                                    <img src="./images/GroundPressure.png" width="80%" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="item-headers" colspan="5">축하중 분포</td>
                            </tr>
                            <tr>
                                <td width="28%">1축 하중</td>
                                <td width="5%">l</td>
                                <td width="15%" id="tumbler_distance_g"></td>
                                <td width="10%">(㎝)</td>
                                <td>$$F_1 = {W_T (L_2-X_T) \over L}.$$　</td>
                            </tr>
                            <tr>
                                <td width="28%">2축 하중</td>
                                <td width="5%">l</td>
                                <td width="15%" id="tumbler_distance_g"></td>
                                <td width="10%">(㎝)</td>
                                <td>$$F_2 = {W_T (L_1+X_T) \over L}.$$　</td>
                            </tr>

                            <tr>
                                <td class="item-headers" colspan="5">접지압 (퀵커플러 제외)</td>
                            </tr>

                            <tr>
                                <td>장비전중량</td>
                                <td>W</td>
                                <td id="gross_weight_woqc_g"></td>
                                <td>(㎏)</td>
                                <td>　</td>
                            </tr>
                            <tr>
                                <td>접지압</td>
                                <td>P</td>
                                <td id="ground_pressure_woqc_g"></td>
                                <td>(kg/㎠)</td>
                                <td>　 <br /></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div class="pages" id="Ground Pressure">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">접지압</td>
            </tr>
            <tr>
                <td>
                    <table class="innertable" width="90%">
                        <thead>
                            <tr>
                                <th>제원 항목</th>
                                <th>기호</th>
                                <th>사양</th>
                                <th>비고</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>운전중량 (㎏)</td>
                                <td>$$W_t$$</td>
                                <td>54850</td>
                                <td>운전자 65㎏</td>
                            </tr>
                            <tr>
                                <td>운전중량 (㎏) (퀵커플러 제외)</td>
                                <td>$$W_t - m_q$$</td>
                                <td>54850</td>
                                <td>퀵커플러 ㎏</td>
                            </tr>
                            <tr>
                                <td>트랙 슈 폭 (㎜)</td>
                                <td>$$d$$</td>
                                <td>600</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>트랙 수</td>
                                <td>$$n$$</td>
                                <td>2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>텀블러중심간거리(㎜)</td>
                                <td>$$L_2$$</td>
                                <td>4470</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>무한궤도길이(㎜)</td>
                                <td>$$L_6$$</td>
                                <td>5520</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="innertable" width="90%">
                        <thead>
                            <tr>
                                <th colspan="3">계산</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3">접지길이 L(㎝)</td>
                            </tr>
                            <tr>
                                <td>$$L = L_2 + 0.35(L_6-L_2)$$</td>
                                <td>$$447 + 0.35(552.0-447)$$</td>
                                <td>483.75</td>
                            </tr>
                            <tr>
                                <td colspan="3">접지압 P(㎏/㎠)</td>
                            </tr>
                            <tr>
                                <td>$$P={W_t \over n \times d \times L}$$</td>
                                <td>$${54850 \over 2 \times 60 \times 483.75}$$</td>
                                <td>0.94</td>
                            </tr>
                            <tr>
                                <td colspan="3">접지압 P(㎏/㎠) (퀵커플러 제외)</td>
                            </tr>
                            <tr>
                                <td>$$P={W_t&nbsp;&nbsp;- m_q \over n \times d \times L}$$</td>
                                <td>$${54850 \over 2 \times 60 \times 483.75}$$</td>
                                <td>0.94</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <!-- ===============================================-->
    <!--    선회 속도    -->
    <!-- ===============================================-->
    <div class="pages" id="Swing_Speed">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">선회 속도</td>
            </tr>

            <tr>
                <td class="head_description">
                    <p>선회 속도</p>

                    <table class="innertable" width="90%" height="400px">
                        <thead>
                            <tr>
                                <th>항목</th>
                                <th></th>
                                <th>단위</th>
                                <th>사양</th>
                                <th>비고</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>펌프 유량</td>
                                <td>$$Q$$</td>
                                <td>l/min</td>
                                <td>208</td>
                                <td>선회 rpm</td>
                            </tr>
                            <tr>
                                <td>모터이론용적</td>
                                <td>$$q_m$$</td>
                                <td>cc/rev</td>
                                <td>142.8</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>감속기의 감속비</td>
                                <td>$$i$$</td>
                                <td></td>
                                <td>18.675</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>모터용적효율</td>
                                <td>$$\eta_{mv}$$</td>
                                <td>%</td>
                                <td>0.97</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>피니언 기어</td>
                                <td>$$P_g$$</td>
                                <td></td>
                                <td>13</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>선회베어링 기어</td>
                                <td>$$S_b$$</td>
                                <td></td>
                                <td>92</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <p>선회 속도 계산</p>
                    <table class="innertable" width="90%" height="400px">
                        <thead>
                            <tr>
                                <th colspan="3">계산</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="item-headers" colspan="3">선회감속기 축 회전수 SM(rpm)</td>
                            </tr>
                            <tr>
                                <td>$$SM = {Q \times \eta_{mv} \over q_m} \times 1000$$</td>
                                <td>$${208 \times 0.97 \over 142.8} \times 1000$$</td>
                                <td>1412.8</td>
                            </tr>
                            <tr>
                                <td class="item-headers" colspan="3">선회속도 S(rpm)</td>
                            </tr>
                            <tr>
                                <td>$$S = {SM \over i} \times {P_g \over S_b}$$</td>
                                <td>$${1412.8 \over 18.675} \times {13 \over 92}$$</td>
                                <td>10.7</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div class="pages" id="Swing_Reduction">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">선회 속도</td>
            </tr>

            <tr>
                <td class="head_description">
                    <p>선회 감속비</p>

                    <table class="innertable" width="90%" height="400px">
                        <thead>
                            <tr>
                                <th>항목</th>
                                <th>기어</th>
                                <th>사양</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="6">유성치차부</td>
                                <td>선기어(A)</td>
                                <td>21</td>
                            </tr>
                            <tr>
                                <td>유성기어(B)</td>
                                <td>20</td>
                            </tr>
                            <tr>
                                <td>링기어(C)</td>
                                <td>63</td>
                            </tr>
                            <tr>
                                <td>선기어(A')</td>
                                <td>17</td>
                            </tr>
                            <tr>
                                <td>유성기어(B')</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>링기어(C')</td>
                                <td>63</td>
                            </tr>
                            <tr>
                                <td rowspan="2">피니언 - 선회베어링</td>
                                <td>피니언(D)</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>선회베어링(E)</td>
                                <td>92</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="innertable" width="90%" height="400px">
                        <thead>
                            <tr>
                                <th colspan="3">계산</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="item-headers" colspan="3">유성치차부(i_A)</td>
                            </tr>
                            <tr>
                                <td>$$i_1 = 1 + {C \over A}$$</td>
                                <td>$$1 + {63 \over 21}$$</td>
                                <td>$$4.00$$</td>
                            </tr>
                            <tr>
                                <td>$$i_2 = 1 + {C' \over A'}$$</td>
                                <td>$$1 + {63 \over 17}$$</td>
                                <td>$$4.70$$</td>
                            </tr>
                            <tr>
                                <td>$$i_A = i_1 \times i_2$$</td>
                                <td>$$4.00 \times 4.70$$</td>
                                <td>$$18.824$$</td>
                            </tr>
                            <tr>
                                <td class="item-headers" colspan="3">피니언 - 선회베어링</td>
                            </tr>
                            <tr>
                                <td>$$i_B = i_3 = {E \over D}$$</td>
                                <td>$${118 \over 15}$$</td>
                                <td>$$7.87$$</td>
                            </tr>
                            <tr>
                                <td class="item-headers" colspan="3">총 감속비</td>
                            </tr>
                            <tr>
                                <td>$$i = i_A \times i_B$$</td>
                                <td>$$18.824 \times 7.87$$</td>
                                <td>$$148.14$$</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div class="pages" id="Travel_Speed">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">주행 속도</td>
            </tr>

            <tr>
                <td class="head_description">
                    <p>
                        “최고속도”란 평탄하고 건조한 아스팔트 포장노면에서 운전중량 상태의 건설기계가 주행할 수 있는 최고속도를 말한다.
                    </p>

                    <table width="100%" height="400px">
                        <thead>
                            <tr>
                                <th>항목</th>
                                <th>기호</th>
                                <th>단위</th>
                                <th>사양</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>펌프 유량</td>
                                <td>$$Q$$</td>
                                <td>l/min</td>
                                <td>394</td>
                            </tr>
                            <tr>
                                <td>모터 이론 용적(1속)</td>
                                <td>$$Q_{m1}$$</td>
                                <td>cc/rev</td>
                                <td>175.9</td>
                            </tr>
                            <tr>
                                <td>모터 이론 용적(2속)</td>
                                <td>$$Q_{m2}$$</td>
                                <td>cc/rev</td>
                                <td>281.7</td>
                            </tr>
                            <tr>
                                <td>스프로켓 반경</td>
                                <td>$$R$$</td>
                                <td>㎜</td>
                                <td>400</td>
                            </tr>
                            <tr>
                                <td>모터용적효율</td>
                                <td>$$\mu_{mv}$$</td>
                                <td></td>
                                <td>0.97</td>
                            </tr>
                        </tbody>
                    </table>

                    <table width="100%" height="400px">
                        <thead>
                            <tr>
                                <th colspan="3">계산</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="item-headers" colspan="3">주행모터 축 회전</td>
                            </tr>
                            <tr>
                                <td rowspan="2">$$SM = {Q \cdot \mu_{mv} \over {q \times i}} \times 1,000$$</td>
                                <td>(저속) $${394 \cdot 0.97 \over {281.7 \times 61.47}} \times 1,000$$</td>
                                <td>22.07</td>
                            </tr>
                            <tr>
                                <td>(고속) $${394 \cdot 0.97 \over {175.9 \times 61.47}} \times 1,000$$</td>
                                <td>35.35</td>
                            </tr>
                            <tr>
                                <td class="item-headers" colspan="3">주행속도 (km/hr)</td>
                            </tr>
                            <tr>
                                <td rowspan="2">$$V = {SM \times 2\pi R \times 60 \over 10^6}$$</td>
                                <td>(저속) $$V_1 = {22.07 \times 2\pi 400 \times 60 \over 10^6}$$</td>
                                <td>3.3</td>
                            </tr>
                            <tr>
                                <td>(고속) $$V_2 = {35.35 \times 2\pi 400 \times 60 \over 10^6}$$</td>
                                <td>5.3</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div class="pages" id="Travel_Reduction">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">주행 속도</td>
            </tr>

            <tr>
                <td class="head_description">
                    <p>
                        주행 감속비 계산
                    </p>


                    <table width="100%" height="400px">
                        <thead>
                            <tr>
                                <th colspan="6">감속비 (주행)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>기어</td>
                                <td>기호</td>
                                <td>사양</td>
                                <td class="item-headers" colspan="3">계산</td>
                            </tr>
                            <tr>
                                <td>주행선기어1</td>
                                <td>S1</td>
                                <td>12</td>
                                <td rowspan="2">$$i_1 = {(S_1+R_1) \over S_1}$$</td>
                                <td rowspan="2">$${(12+106) \over 12}$$</td>
                                <td rowspan="2">$$9.83$$</td>
                            </tr>
                            <tr>
                                <td>주행링기어1</td>
                                <td>R1</td>
                                <td>103</td>
                            </tr>
                            <tr>
                                <td>주행선기어2</td>
                                <td>S2</td>
                                <td>17</td>
                                <td rowspan="2">$$i_2 = {(S_2+R_2) \over S_2}$$</td>
                                <td rowspan="2">$${(17+91) \over 17}$$</td>
                                <td rowspan="2">$$6.35$$</td>
                            </tr>
                            <tr>
                                <td>주행링기어2</td>
                                <td>R2</td>
                                <td>91</td>
                            </tr>
                            <tr>
                                <td class="item-headers" colspan="3">주행감속비</td>
                                <td>$$I_{total} = i_1 \times i_2 -1 $$</td>
                                <td></td>
                                <td>$$61.47$$</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>


    <div class="pages" id="Greadability_1">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">경사지 등판 및 제동 능력</td>
            </tr>

            <tr>
                <td class="head_description">
                    <p>
                        굴착기는 100분의 25(무한궤도식 굴착기는 100분의 30을 말한다) 기울기의 견고한 건조 지면을 올라갈 수 있고, 정지상태를 유지할 수 있는 제동장치 및 제동장금장치를 갖추어야 한다.
                    </p>

                    <table width="100%" height="300px">
                        <thead>
                            <tr>
                                <th>항목</th>
                                <th>기호</th>
                                <th>단위</th>
                                <th>사양</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>장비 총 중량</td>
                                <td>$$W_T$$</td>
                                <td>㎏</td>
                                <td>54850</td>
                            </tr>
                            <tr>
                                <td>사용 압력</td>
                                <td>$$P$$</td>
                                <td>㎏/㎠</td>
                                <td>360</td>
                            </tr>
                            <tr>
                                <td>모터 기계 효율</td>
                                <td>$$\mu_{mt}$$</td>
                                <td>%</td>
                                <td>94</td>
                            </tr>
                            <tr>
                                <td>동력 전달 효율</td>
                                <td>$$\mu_r$$</td>
                                <td>%</td>
                                <td>85</td>
                            </tr>
                            <tr>
                                <td>구동 점착 계수</td>
                                <td>$$\mu$$</td>
                                <td></td>
                                <td>0.9</td>
                            </tr>
                            <tr>
                                <td>스프로켓 반경</td>
                                <td>$$R$$</td>
                                <td>㎜</td>
                                <td>400</td>
                            </tr>
                            <tr>
                                <td>주행 저항 계수</td>
                                <td>$$\xi$$</td>
                                <td></td>
                                <td>0.04</td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </table>
    </div>

    <div class="pages" id="Greadability_2">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">경사지 등판 및 제동 능력</td>
            </tr>

            <tr>
                <td class="head_description">
                    <div class="head_description">주행 모터 토크 계산</div>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td rowspan="2">$$TM = $$$${P \cdot q \over 200 \pi} \times i \times \mu_{mt}$$</td>
                                <td>(1속)$$TM_1 = {360 \cdot 281.7 \over 200 \pi} \times 61.47 \times 0.94$$</td>
                                <td>$$9326$$</td>
                            </tr>
                            <tr>
                                <td>(2속)$$TM_2 = {360 \cdot 175.9 \over 200 \pi} \times 61.47 \times 0.94$$</td>
                                <td>$$5823$$</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="head_description">견인력 (DP, kgf): 아래 중 작은 항목</div>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td class="item-headers" colspan="3">스프로켓 최대 구동력 TS(kgf)</td>
                            </tr>
                            <tr>
                                <td>$$TS = {2 \times TM_1 \times 1000 \over R} \times \mu_r$$</td>
                                <td>$${2 \times 9326 \times 1000 \over 400} \times 0.85$$</td>
                                <td>39635</td>
                            </tr>
                            <tr>
                                <td class="item-headers" colspan="3">점착력 (AF, kgf)</td>
                            </tr>
                            <tr>
                                <td>$$AF = \mu \times W_t$$</td>
                                <td>$$0.9 \times 54850$$</td>
                                <td>49365</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>

                        따라서 견인력은 {} kgf
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="pages" id="Greadability_Slope">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">경사지 등판 및 제동 능력</td>
            </tr>

            <tr>
                <td class="head_description">

                    <div class="head_description">견인력 (DP, kgf): 아래 중 작은 항목</div>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td class="item-headers" colspan="3">경사지에서 미끄러지지 않는 각도</td>
                            </tr>
                            <tr>
                                <td>$$ \mu \cdot W_T \cdot \cos \theta_1 = W_T \cdot \sin \theta_1 $$</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>$$\theta_1 = \tan^{-1}\mu$$</td>
                                <td>$$\tan^{-1}0.90$$</td>
                                <td>42</td>
                            </tr>
                            <tr>
                                <td class="item-headers" colspan="3">견인력에 의한 등판 능력</td>
                            </tr>
                            <tr>
                                <td>$$ DP - \xi W_T = W_T \cdot \sin \theta_2 $$</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>$$ \theta_2 = \sin^{-1}{{DP - \xi W_T}\over W_T} $$</td>
                                <td>$$ \sin^{-1}({{12106 - 0.015 × 21615 } \over 21615}) $$</td>
                                <td>$$43.1$$</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="head_description">엔진 오일 팬에 의한 최대 허용 경사 각도
                        <p>
                            $$\theta_3 = 35°$$
                        </p>
                    </div>


                </td>
            </tr>
        </table>
    </div>

    <div class="pages" id="Greadability_hold">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">경사지 등판 및 제동 능력</td>
            </tr>

            <tr>
                <td class="head_description">

                    <div class="head_description">경사지에서의 제동 유지</div>
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>항목</th>
                                <th>기호</th>
                                <th>단위</th>
                                <th>사양</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>장비 총 중량</td>
                                <td>$$W_T$$</td>
                                <td>㎏</td>
                                <td>54850</td>
                            </tr>
                            <tr>
                                <td>브레이크 토크</td>
                                <td>$$T_b$$</td>
                                <td>㎏m</td>
                                <td>150</td>
                            </tr>
                            <tr>
                                <td>주행 감속비</td>
                                <td>$$I_{total}$$</td>
                                <td>%</td>
                                <td>61.47</td>
                            </tr>
                            <tr>
                                <td>스프로켓 반경</td>
                                <td>$$R$$</td>
                                <td>㎜</td>
                                <td>400</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="head_description">경사지에서의 제동 유지는 아래 제동 토크와 내려가는 힘 간의 비교로 결정</div>

                    <table width="100%">
                        <tbody>

                            <tr>
                                <td class="item-headers" colspan="3">주차 토크 (마찰력), TP(kgm)</td>
                            </tr>
                            <tr>
                                <td>$$TP=2 \times T_b \times I$$</td>
                                <td>$$2 \times 150 \times 61.47$$</td>
                                <td>18441</td>
                            </tr>
                            <tr>
                                <td class="item-headers" colspan="3">기준 경사지 (16.7)에서 스프로켓 구동력 TS(kgm)</td>
                            </tr>
                            <tr>
                                <td>$$TS = R \times W_t \times \sin \theta$$</td>
                                <td>$$0.4 \times 54850 \times \sin 16.7$$</td>
                                <td>6305</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>


    <%  %>
        <%=  %>

            <div class="pages" id="bucket_creep">
                <table class="bordertable">
                    <tr class="borderheader">
                        <td height="30mm">버켓 기울기의 변화량</td>
                    </tr>

                    <tr>
                        <td class="head_description">
                            <p>
                                굴착기는 최대작업반경 상태에서 버킷 끝단의 기울기의 변화량이 10분당 5도 이내 이어야 한다.
                            </p>

                            <table width="90%" height="30%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>결과</th>
                                        <th>비고</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>시작 시 버켓 높이 (㎜)</td>
                                        <td>H</td>
                                        <td>1110</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>10분 뒤 버켓 높이 (㎜)</td>
                                        <td>H'</td>
                                        <td>1100</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>최대 작업 반경 (㎜)</td>
                                        <td>L</td>
                                        <td>10042</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>기울기 변화량 (°)</td>
                                        <td></td>
                                        <td>$$5.7 ×10^{-6}$$</td>
                                        <td>$$ \arctan({{H-H'}\over L}) $$</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

            <script src="https://cdn.ckeditor.com/4.17.1/standard-all/ckeditor.js"></script>
            <script>
                // Turn off automatic editor creation first.
                CKEDITOR.disableAutoInline = true;
                CKEDITOR.inline("editor1");
            </script>
</body>

</html>