<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"> 
    <!-- <h2>Korea Type Approval</h2> -->


    <div class="album py-5 bg-light">
      <!-- <div class="container"> -->
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <a href="./Korea_TypeApproval/HEX_input.html" target='_blank'>
  
               <img src="./Korea_TypeApproval/images/HEX Icon.jpg" width="300px" height="300px"/>
  
                  <div class="card-body">
                  <p class="card-text">Crawler Excavator</p>
                  </div>
              </a>
            </div>
          </div>
          <div class="col">
              <div class="card shadow-sm">
                <a href="./Korea_TypeApproval/WEX_input.html" target='_blank'>
    
                 <img src="./Korea_TypeApproval/images/WEX Icon.jpg" width="300px" height="300px"/>
    
                    <div class="card-body">
                    <p class="card-text">Wheel Excavator</p>
                    </div>
                </a>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <a href="./Korea_TypeApproval/WLR_input.html" target='_blank'>
    
                 <img src="./Korea_TypeApproval/images/WLR Icon.jpg" width="300px" height="300px"/>
    
                    <div class="card-body">
                    <p class="card-text">Wheel Loader</p>
                    </div>
                </a>
              </div>
            </div>
  
        </div>
      <!-- </div> -->
    </div>
  
  </main>

  <%- include('includes/end.ejs') %>