<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>형식승인/신고 양식</title>
    <script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="css/style.css">
    <style></style>

</head>

<body>
    <p></p>
    <div class='no-print'>
        <label class="input-file-button" for="inputExcelRead">
      입력 양식 업로드
    </label>
        <input type="file" id="inputExcelRead" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </div>

    <p></p>
    <div class="pages" id="mainSpec">
        <table style="width: 346.5px;">
            <tbody>
                <tr>
                    <td style="width: 203.5px;">&nbsp;
                        <table dir="ltr" style="width: 501.422px;" border="1" cellspacing="0" cellpadding="0">
                            <colgroup>
                                <col width="24" />
                                <col width="117" />
                                <col width="100" />
                                <col width="27" />
                                <col width="100" />
                                <col width="100" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td style="width: 497.422px;" colspan="6" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;건설기계 (타이어식) 제원표&quot;>건설기계 (타이어식) 제원표</td>
                                </tr>
                                <tr>
                                    <td style="width: 103px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;형식승인(신고)자&quot;>형식승인(신고)자</td>
                                    <td style="width: 67px;" &quot;1&quot;:2,&quot;2&quot;:&quot;현대건설기계&quot;>현대건설기계</td>
                                    <td style="width: 24px;">&nbsp;</td>
                                    <td style="width: 71px;">&nbsp;</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 103px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;건설기계명&quot;>건설기계명</td>
                                    <td style="width: 67px;" &quot;1&quot;:2,&quot;2&quot;:&quot;굴착기&quot;>굴착기</td>
                                    <td style="width: 95px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;제작회사(제작국)&quot;>제작회사(제작국)</td>
                                    <td style="width: 232.422px;" &quot;1&quot;:2,&quot;2&quot;:&quot;현대건설기계(한국)&quot;>현대건설기계(한국)</td>
                                </tr>
                                <tr>
                                    <td style="width: 103px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;형식&quot;>형식</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 95px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;규격&quot;>규격</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 103px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;자체중량&quot;>자체중량</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 95px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;변속기&quot;>변속기</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 103px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;최고속도&quot;>최고속도</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 24px;" colspan="1" rowspan="12" &quot;1&quot;:2,&quot;2&quot;:&quot;타이어식&quot;>
                                        <div>타이어식</div>
                                    </td>
                                    <td style="width: 71px;" &quot;1&quot;:2,&quot;2&quot;:&quot;회전반경&quot;>회전반경</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 103px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;등판능력&quot;>등판능력</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 71px;" &quot;1&quot;:2,&quot;2&quot;:&quot;제동거리&quot;>제동거리</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 22px;" colspan="1" rowspan="4" &quot;1&quot;:2,&quot;2&quot;:&quot;외 관&quot;>
                                        <div>외 관</div>
                                    </td>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;길이 (㎜)&quot;>길이 (㎜)</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 71px;" &quot;1&quot;:2,&quot;2&quot;:&quot;축거(1) (㎜)&quot;>축거(1) (㎜)</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;너비 (㎜)&quot;>너비 (㎜)</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 71px;" &quot;1&quot;:2,&quot;2&quot;:&quot;윤거(1) (㎜)&quot;>윤거(1) (㎜)</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;높이 (㎜)&quot;>높이 (㎜)</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 71px;" &quot;1&quot;:2,&quot;2&quot;:&quot;타이어(1축)&quot;>타이어(1축)</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;최저지상고 (㎜)&quot;>최저지상고 (㎜)</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 71px;" &quot;1&quot;:2,&quot;2&quot;:&quot;타이어(2축)&quot;>타이어(2축)</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 22px;" colspan="1" rowspan="6" &quot;1&quot;:2,&quot;2&quot;:&quot;엔 진&quot;>
                                        <div>엔 진</div>
                                    </td>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;엔진 형식&quot;>엔진 형식</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 71px;" &quot;1&quot;:2,&quot;2&quot;:&quot;공차 하중 (1축)&quot;>공차 하중 (1축)</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;출력 (정격)&quot;>출력 (정격)</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 71px;" &quot;1&quot;:2,&quot;2&quot;:&quot;공차 하중 (2축)&quot;>공차 하중 (2축)</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;최대 토크&quot;>최대 토크</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 71px;" &quot;1&quot;:2,&quot;2&quot;:&quot;적재 하중 (1축)&quot;>적재 하중 (1축)</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;기통수&quot;>기통수</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 71px;" &quot;1&quot;:2,&quot;2&quot;:&quot;적재 하중 (2축)&quot;>적재 하중 (2축)</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;연료 종류&quot;>연료 종류</td>
                                    <td style="width: 67px;" &quot;1&quot;:2,&quot;2&quot;:&quot;디젤&quot;>디젤</td>
                                    <td style="width: 71px;" &quot;1&quot;:2,&quot;2&quot;:&quot;한계 하중 (1축)&quot;>한계 하중 (1축)</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;제작사&quot;>제작사</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 71px;" &quot;1&quot;:2,&quot;2&quot;:&quot;한계 하중 (2축)&quot;>한계 하중 (2축)</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 22px;" colspan="1" rowspan="5" &quot;1&quot;:2,&quot;2&quot;:&quot;작업장치&quot;>
                                        <div>작업장치</div>
                                    </td>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;버켓용량(평적)&quot;>버켓용량(평적)</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 95px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;버켓용량(산적)&quot;>버켓용량(산적)</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;붐의 길이&quot;>붐의 길이</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 95px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;암의 길이&quot;>암의 길이</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;선회속도&quot;>선회속도</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 95px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;최대굴착반지름&quot;>최대굴착반지름</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;최대굴착깊이&quot;>최대굴착깊이</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 95px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;최대덤프높이&quot;>최대덤프높이</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;배토판너비 높이&quot;>배토판너비 높이</td>
                                    <td style="width: 162px;" colspan="3" rowspan="1">&nbsp;</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 22px;">&nbsp;</td>
                                    <td style="width: 81px;" &quot;1&quot;:2,&quot;2&quot;:&quot;퀵 커플러&quot;>퀵 커플러</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 95px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;중량&quot;>중량</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 103px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;비고&quot;>비고</td>
                                    <td style="width: 394.422px;" colspan="4" rowspan="1">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 103px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;형식승인연월일&quot;>형식승인연월일</td>
                                    <td style="width: 67px;">&nbsp;</td>
                                    <td style="width: 95px;" colspan="2" rowspan="1" &quot;1&quot;:2,&quot;2&quot;:&quot;형식승인번호&quot;>형식승인번호</td>
                                    <td style="width: 232.422px;">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- DivTable.com -->



    </div>


    <div class="pages" id="machine_drawing_2">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">
                    외관_제원
                </td>
            </tr>

            <tr>
                <td class="head_description">
                    <p> </p>
                    <img src="./images/machine_drawing.jpg" width=100%>
                    <p> </p>
                    <p> </p>
                    <p> </p>
                    <table class="table" height="50%" width="60%">

                        <tbody>
                            <tr>
                                <td colspan="3">Dimension</td>
                            </tr>
                            <tr>
                                <td width="15%">A</td>
                                <td width="60%">길이</td>
                                <td id="overall_length_d"></td>
                            </tr>
                            <tr>
                                <td>C</td>
                                <td>텀블러중심간거리</td>
                                <td id="tumbler_distance_d"></td>
                            </tr>
                            <tr>
                                <td>D</td>
                                <td>트랙길이</td>
                                <td id="track_length_d"></td>
                            </tr>
                            <tr>
                                <td>F(Hose)</td>
                                <td>높이</td>
                                <td id="overall_height_d"></td>
                            </tr>
                            <tr>
                                <td>G</td>
                                <td>너비</td>
                                <td id="overall_width_d"></td>
                            </tr>
                            <tr>
                                <td>J</td>
                                <td>슈 폭</td>
                                <td id="shoe_width_d"></td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>하부체 너비</td>
                                <td id="track_width_d"></td>
                            </tr>
                            <tr>
                                <td>N</td>
                                <td>트랙높이 (w/o grouser)</td>
                                <td id="track_height_d"></td>
                            </tr>
                            <tr>
                                <td>O</td>
                                <td>최저지상고 (w/o grouser)</td>
                                <td id="ground_clearance_d"></td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </table>

    </div>
    <div class="pages" id="Working_Range">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">
                    작업반경
                </td>
            </tr>

            <tr>
                <td>
                    <img src="./images/workingRange.jpg" width=80%>

                    <table class="innertable" height="20%" width="50%">
                        <tbody>
                            <tr>
                                <td width="180px">최대굴착높이 F </td>
                                <td id="digging_height_wr"></td>
                            </tr>
                            <tr>
                                <td>최대덤프높이 D </td>
                                <td id="digging_depth_wr"></td>
                            </tr>
                            <tr>
                                <td>최대굴착반지름 A </td>
                                <td id="digging_reach_wr"></td>
                            </tr>
                            <tr>
                                <td>최대굴착깊이 C </td>
                                <td id="loading_height_wr"></td>
                            </tr>
                        </tbody>
                    </table>


                </td>
            </tr>
        </table>


    </div>
    <div class="pages" id="Quick_Coupler_detach">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">
                    퀵 커플러 탈착에 따른 제원
                </td>
            </tr>

            <tr>
                <td>

                    <table class="innertable" height="80%" width="80%">
                        <thead>
                            <tr>
                                <th width="30%" rowspan="3">구분</th>
                                <th colspan="2">굴착기</th>
                                <th rowspan="3">비고</th>
                            </tr>
                            <tr>
                                <th width="20%">커플러장착</th>
                                <th width="20%" rowspan="2">커플러 탈거</th>
                            </tr>
                            <tr>
                                <th>(제원표와 동일)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>자체중량 (㎏)</td>
                                <td id="machine_weight_qc"></td>
                                <td id="machine_weight_woqc"></td>
                                <td>　</td>
                            </tr>
                            <tr>
                                <td>최대굴착 반지름 (㎜)</td>
                                <td id="digging_reach_qc"></td>
                                <td id="digging_reach_woqc"></td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>덤프높이 (㎜)</td>
                                <td id="loading_height_qc"></td>
                                <td id="loading_height_woqc"></td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>굴착깊이 (㎜)</td>
                                <td id="digging_depth_qc"></td>
                                <td id="digging_depth_woqc"></td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>전축중(공차시) (kg)</td>
                                <td id="front_axle_load_qc"></td>
                                <td id="front_axle_load_woqc"></td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>후축중(공차시) (kg)</td>
                                <td id="rear_axle_load_qc"></td>
                                <td id="rear_axle_load_woqc"></td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>접지압 (㎏/㎠)</td>
                                <td id="ground_pressure_qc"></td>
                                <td id="ground_pressure_woqc"></td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>버킷잠금장치</td>
                                <td>2중</td>
                                <td>-</td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>경고음장치</td>
                                <td>설치</td>
                                <td>-</td>
                                <td>유압잠금장치가 해제된 경우 조종사가 알 수 있는 충분한 크기</td>
                            </tr>
                            <tr>
                                <td>과전류차단</td>
                                <td>설치</td>
                                <td>-</td>
                                <td>조종석에 퓨즈박스 및 스위치 설치</td>
                            </tr>
                        </tbody>

                    </table>


                </td>
            </tr>
        </table>


    </div>

    <div class="pages" id="Ground_Pressure">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">
                    접지압
                </td>
            </tr>
            <tr>
                <td>
                    <table class="innertable" height="90%" width="90%">
                        <thead>
                            <tr>
                                <th colspan="5" height="350px">
                                    <img src="./images/GroundPressure.png" width=80%>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="5">접지압 (퀵커플러)</td>
                            </tr>
                            <tr>
                                <td width="28%">텀블러 중심거리</td>
                                <td width="5%">l</td>
                                <td width="15%" id="tumbler_distance_g"></td>
                                <td width="10%">(㎝)</td>
                                <td>　</td>
                            </tr>
                            <tr>
                                <td>무한궤도길이</td>
                                <td>Lt</td>
                                <td id="track_length_g"></td>
                                <td>(㎝)</td>
                                <td>　</td>
                            </tr>
                            <tr>
                                <td>접지길이</td>
                                <td>L</td>
                                <td id="grounding_length"></td>
                                <td>(㎝)</td>
                                <td>l+0.35×(Lt-Lc)</td>
                            </tr>
                            <tr>
                                <td>장비전중량</td>
                                <td>W</td>
                                <td id="gross_weight_g"></td>
                                <td>(㎏)</td>
                                <td>운전자 65㎏</td>
                            </tr>
                            <tr>
                                <td>슈폭</td>
                                <td>B</td>
                                <td id="shoe_width_g"></td>
                                <td>(㎝)</td>
                                <td>　</td>
                            </tr>
                            <tr>
                                <td>접지압</td>
                                <td>P</td>
                                <td id="ground_pressure_g"></td>
                                <td>(kg/㎠)</td>
                                <td> 운전중량 / <br>(트랙의 수 × 슈폭 × 접지길이) </td>
                            </tr>
                            <tr>
                                <td colspan="5">접지압 (퀵커플러 제외)</td>
                            </tr>

                            <tr>
                                <td>장비전중량</td>
                                <td>W</td>
                                <td id="gross_weight_woqc_g"></td>
                                <td>(㎏)</td>
                                <td>　</td>
                            </tr>
                            <tr>
                                <td>접지압</td>
                                <td>P</td>
                                <td id="ground_pressure_woqc_g"></td>
                                <td>(kg/㎠)</td>
                                <td>　 <br> </td>
                            </tr>
                        </tbody>


                    </table>


                </td>
            </tr>
        </table>


    </div>
    <div class="pages" id="Engine_specifications">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">
                    엔진 사양
                </td>
            </tr>
            <tr id="editor1" contenteditable="true">
                <td>
                    <table class="innertable" width="70%" height="400px">
                        <tbody>
                            <tr>
                                <td width="40%">제 작 회 사</td>
                                <td colspan=2 id="engine_supplier_e"></td>
                            </tr>
                            <tr>
                                <td>형 식</td>
                                <td colspan=2 id="engine_name_e"></td>
                            </tr>
                            <tr>
                                <td>배기량(cc)</td>
                                <td colspan=2 id="displacement_e"></td>

                            </tr>
                            <tr>
                                <td>종 류</td>
                                <td colspan=2 id="engine_type_e"></td>
                            </tr>
                            <tr>
                                <td>실린더(수 및 배열)</td>
                                <td colspan=2 id="cylinder_arrange_e"></td>
                            </tr>
                            <tr>
                                <td>정격출력(ps/rpm)</td>
                                <td width="30%" id="engine_power_e"></td>
                                <td id="engine_power_e_si"></td>
                            </tr>
                            <tr>
                                <td>최대토르크(kgf.m/rpm)</td>
                                <td id="engine_torque_e"></td>
                                <td id="engine_torque_e_si"></td>
                            </tr>
                            <tr>
                                <td>보어 x 스트로크</td>
                                <td colspan=2 id="bore_stroke_e"></td>
                            </tr>
                            <tr>
                                <td>냉 각 방 식</td>
                                <td colspan=2 id="cooling_e"></td>
                            </tr>
                            <tr>
                                <td>압 축 비</td>
                                <td colspan=2 id="compression_ratio_e"></td>
                            </tr>
                            <tr>
                                <td>HIGH IDLE SPEED</td>
                                <td colspan=2 id="high_idle_e"></td>
                            </tr>
                            <tr>
                                <td>LOW IDLE SPEED</td>
                                <td colspan=2 id="low_idle_e"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>


    </div>

    <div class="pages" id="Travel_Speed">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">
                    주행 속도
                </td>
            </tr>

            <tr>
                <td class="head_description">
                    <p>“최고속도”란 평탄하고 건조한 아스팔트 포장노면에서 운전중량 상태의 건설기계가 주행할 수 있는 최고속도를 말한다.</p>
                    <p>o 주행 모터의 속도 n<sub>m</sub>: (n<sub>e</sub>) × q<sub>p</sub> / q<sub>m</sub> </p>
                    <p>&ensp; = <span id=e ngine_high_idle_tv> </span> × <span id=p ump_displacement></span> / <span id=m otor_displacement></span> = <span id=m otor_rpm></span> </p>

                    <p>o 감속기 속도 n<sub>r</sub>: n<sub>m</sub> / i<sub></sub> </p>
                    <p>&ensp; = <span id=m otor_rpm_2> </span> / <span id=r eduction_gear_ratio></span> = <span id=r eduction_rv></span> </p>

                    <p>o 주행 속도 v<sub>e</sub>: η × z × n<sub>r</sub> × P<sub>1</sub> × 60 / (2 × 10<sup>6</sup>)
                        <p>&ensp; = <span id=t ravel_eff> </span> × <span id=N o_teeth></span> × <span id=r eduction_rv_2></span> × <span id=l ink_pitch></span> × 60 / (2 × 10<sup>6</sup>) = <span id=t ravel_speed_result></span> </p>

                        <table width="100%" height="600px">
                            <tbody>
                                <tr>
                                    <td width="35%">주행시 엔진 회전수 (n<sub>e</sub>) </td>
                                    <td width="15%">rpm</td>
                                    <td id="engine_high_idle_tv_2" width="20%"></td>
                                    <td>　</td>
                                </tr>
                                <tr>
                                    <td>펌프 용적 (q<sub>p</sub>)</td>
                                    <td>cc/rev</td>
                                    <td id="pump_displacement_2"></td>
                                    <td>　</td>
                                </tr>
                                <tr>
                                    <td>모터 용적 (q<sub>m</sub>)</td>
                                    <td>cc/rev</td>
                                    <td id="motor_displacement_2"></td>
                                    <td>　</td>
                                </tr>
                                <tr>
                                    <td>감속비 (i<sub></sub>)</td>
                                    <td>-</td>
                                    <td id="reduction_gear_ratio_2"></td>
                                    <td>　</td>
                                </tr>
                                <tr>
                                    <td>No. of Teeth (z<sub></sub>)</td>
                                    <td>EA</td>
                                    <td id="No_teeth_2"></td>
                                    <td>　</td>
                                </tr>

                                <tr>
                                    <td>Link Pitch (P<sub>1</sub>)</td>
                                    <td>mm</td>
                                    <td id="link_pitch_2"></td>
                                    <td>　</td>
                                </tr>
                                <tr>
                                    <td>모터속도 (n<sub>m</sub>)</td>
                                    <td>rpm</td>
                                    <td id="motor_rpm_3"></td>
                                    <td>회전수 x 펌프용적 / 모터용적</td>
                                </tr>
                                <tr>
                                    <td>감속기속도 (n<sub>r</sub>)</td>
                                    <td>rpm</td>
                                    <td id="reduction_rv_3"></td>
                                    <td>감속비 / 모터속도</td>
                                </tr>
                                <tr>
                                    <td>주행 효율(η) </td>
                                    <td>η</td>
                                    <td id="travel_eff_2"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>주행 속도 (v<sub>e</sub>)</td>
                                    <td>km/hr</td>
                                    <td id="travel_speed_result_2"></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                </td>
            </tr>
        </table>


    </div>
    <div class="pages" id="Swing_Speed">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">
                    선회 속도
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" height="600px">
                        <p>o 선회시 펌프의 토출량 Oil Flow Q: (High idle - 50) × pump 용적 </p>
                        <p>
                            &ensp; = (<span id=e ngine_high_idle_2> </span> - 50) × <span id=p ump_displacement_2></span> / 1000 = <span id=m otor_oil_flow_sw></span> </p>

                        <p>o 선회모터의 회전수: Q / (qp) </p>
                        <p>&ensp; = <span id=m otor_oil_flow_sw_2> </span> × 1000 / <span id=d isplacement_sw></span> = <span id=m otor_speed_sw></span></p>

                        <p>o 선회속도: η × 모터 output speed × (Z<sub>4</sub> / Z<sub>3</sub>)</p>
                        <p>&ensp; = <span id=s wing_effeciency_sw> </span> × <span id=o utput_speed_sw></span> × <span id=p inion_gear_sw></span> / <span id=s wing_bearing_sw></span> = <span id=s wing_speed_sw></span></p>

                        <tbody>
                            <!-- <tr>
                <td colspan="2" width="40%">엔진최고 회전수 (HIGH IDLE)</td>
                <td width="10%">rpm</td>
                <td width="15%" id="engine_high_idle_sw"></td>
                <td>　</td>
              </tr>
              <tr>
                <td colspan="2">펌프 최대 용적</td>
                <td>cc/rev</td>
                <td id="pump_displacement_sw"> </td>
                <td>　</td>
              </tr>w
              <tr>
                <td colspan="2">시스템 압력</td>
                <td>kgf/㎠</td>
                <td id="relief_valve_pressure_sw"></td>
                <td>　</td>
              </tr> -->
                            <tr>
                                <td rowspan="3" width="15%">Hydraulic<br></td>
                                <td width="25%">Oil Flow (Q)</td>
                                <td width="10%">ℓ/min</td>
                                <td width="15%" id="motor_oil_flow_sw_3"> </td>
                                <td>(High idle - 50) × pump 용적 / 1000</td>
                            </tr>
                            <tr>
                                <td>Displacement (q<sub>p</sub>)</td>
                                <td>cc/rev</td>
                                <td id="displacement_sw_2"></td>
                                <td>　</td>
                            </tr>
                            <tr>
                                <td>Motor Speed (n)</td>
                                <td>rpm</td>
                                <td id="motor_speed_sw_2"></td>
                                <td>oil flow×1000/displacement</td>
                            </tr>
                            <tr>
                                <td rowspan="3">감속기어</td>
                                <td>Input 속도</td>
                                <td>rpm</td>
                                <td id="input_speed_sw"></td>
                                <td>모터 속력과 동일</td>
                            </tr>
                            <tr>
                                <td>Gear Ratio_1</td>
                                <td>-</td>
                                <td id="gear_ratio_1_sw"></td>
                                <td>　</td>
                            </tr>

                            <tr>
                                <td>Output 속도</td>
                                <td>rpm</td>
                                <td id="output_speed_sw_2"> </td>
                                <td>기어비 1 / input 속도</td>
                            </tr>
                            <tr>
                                <td rowspan="3"> 피니언 기어 </td>
                                <td>피니언 기어 (Z<sub>3</sub>)</td>
                                <td></td>
                                <td id="pinion_gear_sw_2"> </td>
                                <td>　</td>
                            </tr>
                            <tr>
                                <td>선회베어링 (Z<sub>4)</td>
                <td></sub></td>
                                <td id="swing_bearing_sw_2"></td>
                                <td>　</td>
                            </tr>
                            <tr>
                                <td>기어비 2</td>
                                <td>-</td>
                                <td id="gear_ratio_2_sw"></td>
                                <td>선회베어링 / 피니언 기어</td>
                            </tr>
                            <tr>
                                <td rowspan="4">Swing Performance</td>
                                <td>용적효율 (η)</td>
                                <td>%</td>
                                <td id="swing_effeciency_sw_2"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>선회 속도</td>
                                <td>rpm</td>
                                <td id="swing_speed_sw_2"></td>
                                <td>감속기어 회전 / 기어비 2× 용적효율</td>
                            </tr>
                        </tbody>

                    </table>
                </td>
            </tr>
        </table>


    </div>

    <div class="pages" id="Greadability">
        <table class="bordertable">
            <tr class="borderheader">
                <td>
                    경사지 등판 능력
                </td>
            </tr>
            <tr>
                <td class="head_description">
                    <p>굴착기는 100분의 25(무한궤도식 굴착기는 100분의 30을 말한다) 구배(勾配)의 견고한 건조 지면을 올라갈 수 있고, 정지상태를 유지할 수 있는 제동장치 및 제동장금장치를 갖추어야 한다.</p>

                    <img src="images/Greadability_01.png">
                    <p><b>경사지를 올라갈 수 있는 구동력</b></p>

                    <p>o 구동력 F: P × q/(200π) × i × 4/D </p>
                    <p>&ensp; = <span id="grade_relief_valve_pressure"> </span> × <span id="motor_displacement_g"> </span> / (200π) × <span id="reduction_gear_ratio_g"> </span> × 4 / <span id="sprocket_PCD_g"> </span> = <span id="traction_force"></span>                        </p>

                    <p>o 최대 등판 각도 θ<sub>gra</sub>: arcsin((F-μ<sub>r</sub> × W) / W)) </p>
                    <p>&ensp; = arcsin((<span id="traction_force_2"></span> - <span id="drag_resist"> </span> × <span id="operating_weight_t"> </span> / <span id=o perating_weight_t_2> </span> = <span id="angle_greadable"></span> </p>


                    <p><b>기준 경사면에서 정지상태를 유지할 수 있는 제동력</b></p>

                    <p>o 사면을 올라가는 힘 F<sub>t</sub>: W × sin(θ)-F<sub>v</sub> × 0.15 </p>
                    <p>&ensp; = <span id="operating_weight_t_3"> </span> × sin(π/180 × <span id="greadability_g"> </span>)- <span id="slippery_vertical"> </span> × 0.15 = <span id="slippery_grade"></span> </p>

                    <p>o 필요 제동력 F<sub>r</sub>: η<sub>r</sub> × (F<sub>t</sub> × D)/(4 × i) </p>
                    <p>&ensp; = <span id="reduction_ratio"> </span> × (<span id="slippery_grade_2"> </span> × <span id="sprocket_PCD_g_2"> </span>)/(4 × <span id="reduction_gear_ratio_g_2"> </span>) = <span id="torque_required"></span> </p>

                    <p>※ 주행모터의 제동력 <span id="brake_torque"> </span>ton은 필요 제동력 <span id="torque_required_2"></span>ton의 <span id="torque_ratio"> </span>배 이므로 경사면에서 제동 능력 확보함 </p>

                </td>
            </tr>
        </table>
    </div>

    <div class="pages" id="Greadability_2">
        <table class="bordertable">
            <td>
                <table class="innertable" width="90%" height="700px">
                    <tbody>
                        <tr>
                            <td width="40%">장비전중량 (W)</td>
                            <td width="10%">ton</td>
                            <td width="20%" id="operating_weight_t_4"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>시스템 압력 (P)</td>
                            <td>kgf/㎠</td>
                            <td id="grade_relief_valve_pressure_2"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Brake 제동력</td>
                            <td>ton</td>
                            <td id="brake_torque_2"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>주행 감속비 (i)</td>
                            <td></td>
                            <td id="reduction_gear_ratio_g_3"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Sproket P.C.D (D)</td>
                            <td>mm</td>
                            <td id="sprocket_PCD_g_3"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Parking 력</td>
                            <td>ton</td>
                            <td id="parking_force"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>모터용적 (q)</td>
                            <td>cc/rev</td>
                            <td id="motor_displacement_g_2"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>감속기 효율 (η<sub>r</sub>)</td>
                            <td></td>
                            <td id="reduction_ratio_2"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>구동력 (F)</td>
                            <td>ton</td>
                            <td id="traction_force_3"></td>
                            <td>시스템압력×모터용적/(200×π)×기어비×4/PCD×0.81</td>
                        </tr>
                        <tr>
                            <td>기준등판각도 (θ)</td>
                            <td>deg</td>
                            <td id="greadability_g_2"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>사면을 내려가는 힘(F<sub>h</sub>)</td>
                            <td>ton</td>
                            <td id="slippery_horizontal"></td>
                            <td>(중량×SIN(π/180×등판각)×1000)</td>
                        </tr>
                        <tr>
                            <td>사면에 수직방향 힘(F<sub>v</sub>)</td>
                            <td>ton</td>
                            <td id="slippery_vertical_2"></td>
                            <td>(중량×COS(π/180×등판각)×1000)</td>
                        </tr>
                        <tr>
                            <td>마찰계수</td>
                            <td></td>
                            <td> 0.15 </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>사면의 마찰력(F<sub>n</sub>)</td>
                            <td>ton</td>
                            <td id="friction"></td>
                            <td>사면수직력×마찰계수</td>
                        </tr>
                        <tr>
                            <td>사면을 올라가는 힘 F<sub>t</sub></td>
                            <td>ton</td>
                            <td id="slippery_grade"></td>
                            <td>사면하강력 - 마찰력</td>
                        </tr>
                        <tr>
                            <td>필요 제동 토크(경사지)</td>
                            <td>ton</td>
                            <td id="torque_required_3"></td>
                            <td>(사면하강력×PCD)/(4×1000×기어비)×효율</td>
                        </tr>
                        <tr>
                            <td>최대 등판 각도</td>
                            <td></td>
                            <td id="angle_greadable_2"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>모터 제동 토크/ 경사지 필요 제동 토크</td>
                            <td></td>
                            <td id="torque_ratio_2"></td>
                            <td>제동토크/필요 제동 토크</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </table>
    </div>

    <div class="pages" id="Stability">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">
                    작업안정도
                </td>
            </tr>
            <tr>
                <td class="head_description">
                    <p>안정도 취약 자세인 측방굴착자세 기준</p>
                    <p>안정적으로 굴착가능한 최대 굴착중량: <span id="excavating_limit"></span> </p>
                    <p>장착한 버켓 용량에 따른 실굴착중량: <span id="bucket_heap_2"></span> × 1.8 (토사 표준 비중) = <span id="bucket_capacity"></span> </p>

                    <table width="100%">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    <img src="./images/Stability2.jpg" width=90%>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" width="40%">항 목</td>
                                <td width="5%">단위</td>
                                <td width="20%">사 양</td>
                                <td>비고</td>
                            </tr>
                            <tr>
                                <td colspan="2">버켓에서 선회중심간 거리</td>
                                <td>㎜</td>
                                <td id="COG_to_BKT"></td>
                                <td>L5</td>
                            </tr>
                            <tr>
                                <td colspan="2">선회중심에서 전도지선까지의 거리</td>
                                <td>㎜</td>
                                <td id="COG_to_track"></td>
                                <td>l</td>
                            </tr>
                            <tr>
                                <td rowspan="2" width="15%">상 부</td>
                                <td>무 게 </td>
                                <td>㎏</td>
                                <td id="weight_upperstructure"></td>
                                <td>G1</td>
                            </tr>
                            <tr>
                                <td>무 게 중 심</td>
                                <td>㎜</td>
                                <td id="COG_upperstructure"></td>
                                <td>L1</td>
                            </tr>
                            <tr>
                                <td rowspan="2">하 부</td>
                                <td>무 게</td>
                                <td>㎏</td>
                                <td id="weight_understructure"></td>
                                <td>G2</td>
                            </tr>
                            <tr>
                                <td>무 게 중 심</td>
                                <td>㎜</td>
                                <td id="COG_understructure"></td>
                                <td>L2</td>
                            </tr>
                            <tr>
                                <td rowspan="2">작업장치</td>
                                <td>무 게</td>
                                <td>㎏</td>
                                <td id="weight_attach"></td>
                                <td>G3</td>
                            </tr>
                            <tr>
                                <td>무 게 중 심</td>
                                <td>㎜</td>
                                <td id="COG_attach"></td>
                                <td>L4</td>
                            </tr>
                            <tr>
                                <td colspan="2">장 비 전 중 량</td>
                                <td>㎏</td>
                                <td id="gross_weight_s">　</td>
                                <td>G</td>
                            </tr>
                            <tr>
                                <td colspan="2">무게중심위치</td>
                                <td>㎜</td>
                                <td id="COG_gross">　</td>
                                <td>L = (G1·L1+G2·L2+G3·L4) / (G1+G2+G3)</td>
                            </tr>
                            <tr>
                                <td colspan="2">안정도 굴착 한계</td>
                                <td>ton</td>
                                <td id="excavating_limit_2">　</td>
                                <td>G×(L1-L)/(L5-L1)</td>
                            </tr>
                            <tr>
                                <td colspan="2">장착 버켓 기준 굴착용량 </td>
                                <td>ton</td>
                                <td id="bucket_capacity_2">　</td>
                                <td> 산적 기준 </td>
                            </tr>
                        </tbody>

                    </table>
                </td>
            </tr>
        </table>


    </div>
    <div class="pages" id="Transportation">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">
                    도로수송 시의 분해 수송
                </td>
            </tr>
            <tr>
                <td class="head_description">
                    <p>○ 운송제원 검토</p>
                    <table height="20%" width="90%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>건설기계</th>
                                <th>운송차량</th>
                                <th>운송제원</th>
                                <th>규제치</th>
                                <th>적합여부</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>길이(m)</td>
                                <td id="overall_length_t"></td>
                                <td>15.32</td>
                                <td id="transport_length_t"></td>
                                <td>16.7</td>
                                <td id="limit_length_t"></td>
                            </tr>
                            <tr>
                                <td>너비(m)</td>
                                <td id="overall_width_t"></td>
                                <td>2.48</td>
                                <td id="transport_width_t"></td>
                                <td>2.5</td>
                                <td id="limit_width_t"></td>
                            </tr>
                            <tr>
                                <td>높이(m)</td>
                                <td id="overall_height_t"></td>
                                <td>0.7</td>
                                <td id="transport_height_t"></td>
                                <td>4</td>
                                <td id="limit_height_t"></td>
                            </tr>
                            <tr>
                                <td>합계중량(ton)</td>
                                <td id="overall_weight_t"></td>
                                <td>5.5</td>
                                <td id="transport_weight_t"></td>
                                <td>40</td>
                                <td id="limit_weight_t"></td>
                            </tr>
                        </tbody>

                    </table>
                </td>
            </tr>
        </table>


    </div>
    <script src="https://cdn.ckeditor.com/4.17.1/standard-all/ckeditor.js"></script>
    <script>
        // Turn off automatic editor creation first.
        CKEDITOR.disableAutoInline = true;
        CKEDITOR.inline('editor1');
    </script>
    <script type="text/javascript" src="script/xlreader.js">
    </script>
</body>

</html>